<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8"> <!--polskie znaki poprawnie wyswietlane-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--szerokosc strony ma odpowiadac szerokosci urzadzenia-->
        <link rel="stylesheet" href="{{ url_for('css', path='main.css') }}">
        <title>Twoja Stara</title>
    </head>
    <body>
        <a href="/sub">SUB STRONA</a>
        {% if admins %}
            {% for admin in admins %}
                <div>Name: {{ admin.name }}</div>
                <div>Email: {{ admin.email }}</div>
            {% endfor %}
        {% endif %}

        <div>
            <div>Email</div>
            <div><input></div>
        </div>
    </body>
</html>